<a href="https://colab.research.google.com/github/ClarisseAlvarenga/codenation_aceleradev_ds/blob/master/Desafio_3_Codenation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
import pandas as pd
import numpy as np

# DESAFIO

**Detalhes**

A resposta deve conter os valores da média, mediana, moda e desvio padrão da pontuação de crédito para cada estado do dataset. O arquivo para submissão deve estar em formato json, conforme o arquivo exemplo “submission.json”.

**OBSERVAÇÃO:** É recomendado utilizar Python e pandas para esse desafio, mas também é possível utilizar outras ferramentas e linguagens de programação.

**Descrição dos dados:** ‘id’: Identificador do cliente ‘sobrenome’: Sobrenome do cliente ‘pontuacao_credito’: Pontuação de crédito do cliente (quanto maior, melhor o cliente geralmente) ‘estado_residencia’: Estado de residência do cliente ‘genero’: Gênero do cliente ‘nivel_estabilidade’: Nível de estabilidade do cliente ‘saldo_conta’: Saldo disponível na conta do cliente ‘numero_produtos’: Número de produtos que o cliente consome ‘possui_cartao_de_credito’: Possui um cartão de crédito cadastrado ‘membro_ativo’: Membro acessa e consome frequentemente

Obs: Os dados são fictícios, mas tentam representar a realidade de uma base de clientes de um produto SaaS.

In [77]:
#visualizando os dados
dados = pd.read_csv('desafio1.csv')
dados.head()

   RowNumber  ... membro_ativo
0          1  ...            1
1          2  ...            1
2          3  ...            0
3          4  ...            0
4          5  ...            1

[5 rows x 12 columns]

In [78]:
#calculando a média, mediana a moda (usando função lambda pq o groupby não permitiu mode) e desvio padrão
#https://pandas.pydata.org/pandas-docs/version/0.23.1/generated/pandas.core.groupby.DataFrameGroupBy.agg.html
submission= pd.DataFrame(dados.groupby('estado_residencia')['pontuacao_credito'].agg(['mean', 'median', lambda x: x.mode(),'std'])).reset_index()
submission

  estado_residencia        mean  median  <lambda_0>        std
0                PR  648.961294     650         850  98.607186
1                RS  651.105143     650         850  95.136598
2                SC  649.537653     653         850  97.233493

In [79]:
#mudando o nome das colunas
submission.columns = ['estado_residencia', 'media', 'mediana', 'moda', 'desvio_padrao']

In [80]:
submission

  estado_residencia       media  mediana  moda  desvio_padrao
0                PR  648.961294      650   850      98.607186
1                RS  651.105143      650   850      95.136598
2                SC  649.537653      653   850      97.233493

In [81]:
#formatando o DF para o formato desejado
submission = submission.transpose()

In [82]:
submission.columns = ['PR', 'RS', 'SC']
submission

                        PR       RS       SC
estado_residencia       PR       RS       SC
media              648.961  651.105  649.538
mediana                650      650      653
moda                   850      850      850
desvio_padrao      98.6072  95.1366  97.2335

In [83]:
submission.drop('estado_residencia', inplace=True)

In [84]:
#mudando a ordem das colunas
df = submission.reindex((submission.columns.sort_values(ascending=False)), axis=1)
df

                    SC       RS       PR
media          649.538  651.105  648.961
mediana            653      650      650
moda               850      850      850
desvio_padrao  97.2335  95.1366  98.6072

### CRIANDO O ARQUIVO DO DESAFIO

In [85]:
#transformando em JSON

submission.to_json('submission_Clarisse1.json', orient='columns')

In [86]:
submission.to_json(orient='columns')

'{"PR":{"media":648.9612940497,"mediana":650,"moda":850,"desvio_padrao":98.6071859131},"RS":{"media":651.1051428571,"mediana":650,"moda":850,"desvio_padrao":95.1365984138},"SC":{"media":649.5376527423,"mediana":653,"moda":850,"desvio_padrao":97.2334927934}}'

In [108]:
df.to_json()

'{"SC":{"media":649.5376527423,"mediana":653,"moda":850,"desvio_padrao":97.2334927934},"RS":{"media":651.1051428571,"mediana":650,"moda":850,"desvio_padrao":95.1365984138},"PR":{"media":648.9612940497,"mediana":650,"moda":850,"desvio_padrao":98.6071859131}}'

# CONFERINDO OS VALORES DE MANEIRA MAIS DETALHADA - dividindo em 3 DataFrames

## PARANÁ

In [87]:
dados_PR = dados.query("estado_residencia == 'PR'")
dados_PR.head()

    RowNumber  ... membro_ativo
7           8  ...            0
15         16  ...            1
16         17  ...            0
26         27  ...            1
28         29  ...            1

[5 rows x 12 columns]

In [88]:
#média
media_PR = dados_PR.pontuacao_credito.mean()
media_PR

648.9612940496822

In [89]:
#mediana
mediana_PR = dados_PR.pontuacao_credito.median()
mediana_PR

650.0

In [90]:
#moda
moda_PR = dados_PR.pontuacao_credito.mode()
moda_PR

0    850
dtype: int64

In [91]:
#desvio_padrão
desvio_padrao_PR = dados_PR.pontuacao_credito.std()
desvio_padrao_PR

98.60718591309772

## SANTA CATARINA

In [92]:
dados_SC = dados.query("estado_residencia == 'SC'")
dados_SC.head()

   RowNumber  ... membro_ativo
0          1  ...            1
2          3  ...            0
3          4  ...            0
6          7  ...            1
8          9  ...            1

[5 rows x 12 columns]

In [93]:
#média
media_SC = dados_SC.pontuacao_credito.mean()
media_SC

649.5376527422563

In [94]:
#mediana
mediana_SC = dados_SC.pontuacao_credito.median()
mediana_SC

653.0

In [95]:
#moda
moda_SC = dados_SC.pontuacao_credito.mode()
moda_SC

0    850
dtype: int64

In [96]:
#desvio_padrão
desvio_padrao_SC = dados_SC.pontuacao_credito.std()
desvio_padrao_SC

97.23349279343306

## RIO GRANDE DO SUL

In [97]:
dados_RS = dados.query("estado_residencia == 'RS'")
dados_RS.head()

    RowNumber  ... membro_ativo
1           2  ...            1
4           5  ...            1
5           6  ...            0
11         12  ...            0
14         15  ...            1

[5 rows x 12 columns]

In [98]:
#média
media_RS = dados_RS.pontuacao_credito.mean()
media_RS

651.1051428571428

In [99]:
#mediana
mediana_RS = dados_RS.pontuacao_credito.median()
mediana_RS

650.0

In [100]:
#moda
moda_RS = dados_RS.pontuacao_credito.mode()
moda_RS

0    850
dtype: int64

In [101]:
#desvio_padrão
desvio_padrao_RS = dados_RS.pontuacao_credito.std()
desvio_padrao_RS

95.1365984138357

# CRIANDO UM NOVO DATAFRAME E SUA RESPECTIVA SAÍDA JSON

## COMO O PASSAR O INDEX COMO LISTA INTERFERE NA CRIAÇÃO DO JSON:

 # $[['a', 'b', 'c']]$

In [102]:
#fazendo um DF "manualmente"
#aqui inclui o index como uma lista (usando "[[]]" ao invés do array "[]", e isto influenciou na criação do JSON)
PR = [media_PR, mediana_PR, moda_PR[0], desvio_padrao_PR]
SC = [media_SC, mediana_SC, moda_SC[0], desvio_padrao_SC]
RS = [media_RS, mediana_RS, moda_RS[0], desvio_padrao_RS]

df_final = pd.DataFrame({ 'PR': PR, 'SC': SC, 'RS':RS}, index = [['media', 'mediana', 'moda', 'desvio_padrao']]) #a diferença está nessa linha
df_final

                       PR          SC          RS
media          648.961294  649.537653  651.105143
mediana        650.000000  653.000000  650.000000
moda           850.000000  850.000000  850.000000
desvio_padrao   98.607186   97.233493   95.136598

####  SAÍDA JSON "INCORRETA"

In [103]:
#especificando para criar por colunas
df_final.to_json(orient='columns')

'{"PR":{"(\'media\',)":648.9612940497,"(\'mediana\',)":650.0,"(\'moda\',)":850.0,"(\'desvio_padrao\',)":98.6071859131},"SC":{"(\'media\',)":649.5376527423,"(\'mediana\',)":653.0,"(\'moda\',)":850.0,"(\'desvio_padrao\',)":97.2334927934},"RS":{"(\'media\',)":651.1051428571,"(\'mediana\',)":650.0,"(\'moda\',)":850.0,"(\'desvio_padrao\',)":95.1365984138}}'

In [104]:
#usando o default
df_final.to_json()

'{"PR":{"(\'media\',)":648.9612940497,"(\'mediana\',)":650.0,"(\'moda\',)":850.0,"(\'desvio_padrao\',)":98.6071859131},"SC":{"(\'media\',)":649.5376527423,"(\'mediana\',)":653.0,"(\'moda\',)":850.0,"(\'desvio_padrao\',)":97.2334927934},"RS":{"(\'media\',)":651.1051428571,"(\'mediana\',)":650.0,"(\'moda\',)":850.0,"(\'desvio_padrao\',)":95.1365984138}}'

##COMO O PASSAR O INDEX COMO ARRAY INTERFERE NA CRIAÇÃO DO JSON:

 # $['a', 'b', 'c']$

In [105]:
#RECRIANDO O DF
#fazendo um DF "manualmente"
#aqui inclui o index como um array "[]"
PR = [media_PR, mediana_PR, moda_PR[0], desvio_padrao_PR]
SC = [media_SC, mediana_SC, moda_SC[0], desvio_padrao_SC]
RS = [media_RS, mediana_RS, moda_RS[0], desvio_padrao_RS]

df_corrigido = pd.DataFrame({ 'PR': PR, 'SC': SC, 'RS':RS}, index = ['media', 'mediana', 'moda', 'desvio_padrao']) #a diferença está nessa linha
df_corrigido

                       PR          SC          RS
media          648.961294  649.537653  651.105143
mediana        650.000000  653.000000  650.000000
moda           850.000000  850.000000  850.000000
desvio_padrao   98.607186   97.233493   95.136598

SAÍDA JSON "CORRIGIDA"

In [107]:
#Como nos demais, usei o método to_json do Pandas
df_corrigido.to_json()

'{"PR":{"media":648.9612940497,"mediana":650.0,"moda":850.0,"desvio_padrao":98.6071859131},"SC":{"media":649.5376527423,"mediana":653.0,"moda":850.0,"desvio_padrao":97.2334927934},"RS":{"media":651.1051428571,"mediana":650.0,"moda":850.0,"desvio_padrao":95.1365984138}}'