<a href="https://colab.research.google.com/github/ClarisseAlvarenga/codenation_aceleradev_ds/blob/master/Desafio_3_Codenation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd
import numpy as np

# DESAFIO

**Detalhes**

A resposta deve conter os valores da média, mediana, moda e desvio padrão da pontuação de crédito para cada estado do dataset. O arquivo para submissão deve estar em formato json, conforme o arquivo exemplo “submission.json”.

**OBSERVAÇÃO:** É recomendado utilizar Python e pandas para esse desafio, mas também é possível utilizar outras ferramentas e linguagens de programação.

**Descrição dos dados:** ‘id’: Identificador do cliente ‘sobrenome’: Sobrenome do cliente ‘pontuacao_credito’: Pontuação de crédito do cliente (quanto maior, melhor o cliente geralmente) ‘estado_residencia’: Estado de residência do cliente ‘genero’: Gênero do cliente ‘nivel_estabilidade’: Nível de estabilidade do cliente ‘saldo_conta’: Saldo disponível na conta do cliente ‘numero_produtos’: Número de produtos que o cliente consome ‘possui_cartao_de_credito’: Possui um cartão de crédito cadastrado ‘membro_ativo’: Membro acessa e consome frequentemente

Obs: Os dados são fictícios, mas tentam representar a realidade de uma base de clientes de um produto SaaS.

In [58]:
#visualizando os dados
dados = pd.read_csv('desafio1.csv')
dados.head()

   RowNumber  ... membro_ativo
0          1  ...            1
1          2  ...            1
2          3  ...            0
3          4  ...            0
4          5  ...            1

[5 rows x 12 columns]

In [59]:
#calculando a média, mediana a moda (usando função lambda pq o groupby não permitiu mode) e desvio padrão
#https://pandas.pydata.org/pandas-docs/version/0.23.1/generated/pandas.core.groupby.DataFrameGroupBy.agg.html
submission= pd.DataFrame(dados.groupby('estado_residencia')['pontuacao_credito'].agg(['mean', 'median', lambda x: x.mode(),'std'])).reset_index()
submission

  estado_residencia        mean  median  <lambda_0>        std
0                PR  648.961294     650         850  98.607186
1                RS  651.105143     650         850  95.136598
2                SC  649.537653     653         850  97.233493

In [60]:
#mudando o nome das colunas
submission.columns = [['estado_residencia', 'media', 'mediana', 'moda', 'desvio_padrao']]

In [61]:
submission

  estado_residencia       media mediana moda desvio_padrao
0                PR  648.961294     650  850     98.607186
1                RS  651.105143     650  850     95.136598
2                SC  649.537653     653  850     97.233493

In [62]:
#formatando o DF para o formato desejado
submission = submission.transpose()

In [63]:
submission.columns = [['PR', 'RS', 'SC']]
submission

                        PR       RS       SC
estado_residencia       PR       RS       SC
media              648.961  651.105  649.538
mediana                650      650      653
moda                   850      850      850
desvio_padrao      98.6072  95.1366  97.2335

In [64]:
submission.drop('estado_residencia', inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [65]:
#mudando a ordem das colunas
df = submission.reindex((submission.columns.sort_values(ascending=False)), axis=1)
df

                    SC       RS       PR
media          649.538  651.105  648.961
mediana            653      650      650
moda               850      850      850
desvio_padrao  97.2335  95.1366  98.6072

In [71]:
#transformando em JSON

submission.to_json('submission_Clarisse1.json', orient='columns')

# CONFERINDO OS VALORES DE MANEIRA MAIS DETALHADA - dividindo em 3 DataFrames

## PARANÁ

In [7]:
dados_PR = dados.query("estado_residencia == 'PR'")
dados_PR.head()

    RowNumber  ... membro_ativo
7           8  ...            0
15         16  ...            1
16         17  ...            0
26         27  ...            1
28         29  ...            1

[5 rows x 12 columns]

In [8]:
#média
media_PR = dados_PR.pontuacao_credito.mean()
media_PR

648.9612940496822

In [9]:
#mediana
mediana_PR = dados_PR.pontuacao_credito.median()
mediana_PR

650.0

In [10]:
#moda
moda_PR = dados_PR.pontuacao_credito.mode()
moda_PR

0    850
dtype: int64

In [11]:
#desvio_padrão
desvio_padrao_PR = dados_PR.pontuacao_credito.std()
desvio_padrao_PR

98.60718591309772

## SANTA CATARINA

In [12]:
dados_SC = dados.query("estado_residencia == 'SC'")
dados_SC.head()

   RowNumber  ... membro_ativo
0          1  ...            1
2          3  ...            0
3          4  ...            0
6          7  ...            1
8          9  ...            1

[5 rows x 12 columns]

In [13]:
#média
media_SC = dados_SC.pontuacao_credito.mean()
media_SC

649.5376527422563

In [14]:
#mediana
mediana_SC = dados_SC.pontuacao_credito.median()
mediana_SC

653.0

In [15]:
#moda
moda_SC = dados_SC.pontuacao_credito.mode()
moda_SC

0    850
dtype: int64

In [16]:
#desvio_padrão
desvio_padrao_SC = dados_SC.pontuacao_credito.std()
desvio_padrao_SC

97.23349279343306

## RIO GRANDE DO SUL

In [17]:
dados_RS = dados.query("estado_residencia == 'RS'")
dados_RS.head()

    RowNumber  ... membro_ativo
1           2  ...            1
4           5  ...            1
5           6  ...            0
11         12  ...            0
14         15  ...            1

[5 rows x 12 columns]

In [18]:
#média
media_RS = dados_RS.pontuacao_credito.mean()
media_RS

651.1051428571428

In [19]:
#mediana
mediana_RS = dados_RS.pontuacao_credito.median()
mediana_RS

650.0

In [20]:
#moda
moda_RS = dados_RS.pontuacao_credito.mode()
moda_RS

0    850
dtype: int64

In [21]:
#desvio_padrão
desvio_padrao_RS = dados_RS.pontuacao_credito.std()
desvio_padrao_RS

95.1365984138357

In [27]:
#fazendo um DF "manualmente"
PR = [media_PR, mediana_PR, moda_PR[0], desvio_padrao_PR]
SC = [media_SC, mediana_SC, moda_SC[0], desvio_padrao_SC]
RS = [media_RS, mediana_RS, moda_RS[0], desvio_padrao_RS]

df_final = pd.DataFrame({ 'PR': PR, 'SC': SC, 'RS':RS}, index = [['media', 'mediana', 'moda', 'desvio_padrao']])
df_final

                       PR          SC          RS
media          648.961294  649.537653  651.105143
mediana        650.000000  653.000000  650.000000
moda           850.000000  850.000000  850.000000
desvio_padrao   98.607186   97.233493   95.136598